.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    width: 270px;
    height: 210px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .card-title {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
  }
  
  .card-brand {
    font-style: italic;
    font-size: 0.8rem;
  }
  
  .hr-line {
    margin: 10px 0;
  }
  
  .home-cart-price {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  